<div class="row">
  <div class ="col-md-3">
    <!-- <label for="desiredCity__">City </label> -->
    <%= select_tag(:desired_city__, options_for_select(MainController.available_cities), {class: "form-control desired_city"}) %>
  </div>
  <div class ="col-md-4">
    <!-- <label for="desiredDistrict__">District </label> -->
    <div id="district__">
    </div>
  </div>
<!--   <div class ="col-md-3">
    <label for="acceptableDistance__">Acceptable Dist.</label>
    <%= select_tag(:acceptable_dist__, options_for_select([["5 Miles",5],["20 Miles",20],["50 Miles",50],["100 Miles",100]]), {class: "form-control"}) %> 
  </div> -->
</div>
<!-- </br> -->
