<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= render partial: "header" %>
</head>

<body >

<div class="container" id = 'signin-error' style='position:absolute; z-index: 500; top:30%; bottom:0; left:0; right:0; margin:0 auto;' hidden>
</div>
  <div id = 'main-body'>
  <%= render partial: 'header_banner' %>
  </br>
  </br>
    <div class = 'container' style = 'margin-top: 2%'>
      <div class = 'row'>
        <div class = 'col-md-6'>
        <center>
          <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11377072_10155726128090226_2441978611903322808_n.jpg?oh=99d9710fb0e6bc47d726ace9a628b706&oe=5608DF53" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        </center>
        </div>
        <div class = 'col-md-6'>
          <ul>
            <li><label>Name: Joy Chen</label></li>
            <li><label>Phone: xxx-xxx-xxxx </label></li>
            <li><label>Email: joy_chen@gmail.com </label></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</body>
<footer>
<div class="container" style = 'margin-top: 10%'>
  <div class="row">
    <div class="col-md-12">
      <p>Copyright &copy; Joy Realtor 2015</p>
    </div>
  </div>
</div>
</footer>
</html>